# Ignore Visual Studio temporary files, build results, and
# other unnecessary files.

## User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

## User-specific files (MonoDevelop/Xamarin Studio)
*.userprefs

## Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## Uncomment if using .NET Core
# *.runtimeconfig.json

## Uncomment if you have tasks.json in your workspace
# .vscode/tasks.json

## Uncomment if you have launch.json in your workspace
# .vscode/launch.json

## Uncomment if you have settings.json in your workspace
# .vscode/settings.json

## Uncomment if you use Rider
# .idea/

## Uncomment if using  Visual Studio Code for Mac
# .vscode/extensions.json

# Visual Studio Code Mac auto-gen'd files
*.cmd

## Others
**/.vs/
**/vscode/